476/AndroidStudio/Puzzle/
476/AndroidStudio/fawful-steampunked/
476/AndroidStudio/fire/
476/AndroidStudio/project1/
476/AndroidStudio/step3/
476/IOS/Puzzle/
/477/.idea/
../477/fiscal.writed
../477/htmlNotes.writed
../477/step2notes.writed
*.writed
