/*Reset CSS*/
html, nav, body, header, footer, hgroup, nav, article, section, figure,
figcaption, h1, h2, h3, ul, li, body, div, p, img {
    margin: 0;
    padding: 0;
    font-size: 100%;
    vertical-align: baseline;
    border: 0;
    color: black;
}

body {
    background-image: url("assets/cave-background.jpg");
    background-color: black;
    background-position: center top;
    background-repeat: no-repeat;
    width: 600px;
    margin: auto;
    font-family: 'Open Sans', sans-serif;

}


/*All of the text and images that arent the background image including the header*/
#content {
    width: 650px;
    margin: auto;
    background-color: white;
    text-align: center;
    color: black;
}


header a {
    color: white;
    font-family: 'Arvo', serif;

}


/* The Navigation bar and the Title "Stalking the Wumpus" */
header {
    background-color: #3f3622;
    color: white;
    text-align: right;
    padding-right: 0.5em;
}

/*"Stalking the Wumpus"*/
h1 {
    background-color: #3f3622;
    font-size: 3em;
    color: white;
    padding: 0.5em;
}

/*The 3 room image choices*/
div.room {
    width: 200px;
    display: inline-block;
}

/*The large cave picture under the title*/
#cave-picture {
    margin: 25px;
    padding: 5px;
    border: 1px solid black;
}

#notifications {
    font-size: 1.5em;
}

h2 {
    padding: 1em;
    font-size: 1.5em;
}

span {
    font-style: italic;
    font-size: 1.5em;
}

#welcome-text {
    font-weight: 400;

}

#welcome-links {
    padding-bottom: 2em;

}

h3 {
    font-size: 1.4em;
    padding: 0.5em;
    font-weight: 400;
}

article {
    padding: 1em;
    font-family: "Arvo", serif;
    text-align: justify;
}

article p {
    line-height: 1.4em;
    padding-bottom: 1em;
    font-size: 0.9em;
}

#killed-wumpus-text {
    font-weight: 400;
}

#new-game-link {
    padding-bottom: 1em;
}

a:visited {
    color: darkslategrey;
}

nav a:visited {
    color: lightgray;
}
